# autotools
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
compile
depcomp
install-sh
missing
src/config.h
src/config.hin
src/config.hin~
src/stamp-h1

# binaries
*.o
pangenomesim
pangenomesim.1

# random files
*.fasta
*.maf
*.seed
